section.about_us_section{
    display: flex;
    .about_us_box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $cmain;
        color: $cwhite;
        flex: 1;
        a{
            display: inline-block;
            color: $cwhite;
            text-decoration: none;
            margin-top: 26px;
            font-size: 12px;
        }
    }
    .about_us_title{
        font-size: 36px;
        margin-bottom: 48px;
    }
    .about_us_image{
        flex: 1;
        img{
            width: 100%;
            height: 100%;
        }
    }
}