section.hero{
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    figure{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.hero_content{
    .page_title{
        margin-bottom: 48px;
        font-size: 96px;
        color: $cwhite;
        text-align: center;
        @media screen and (max-width: 1024px) {
            font-size: 36px;
            font-weight: 400;
        }
        span{
            font-style: italic;
            @media screen and (max-width: 1024px) {
                font-style: normal;
            }
        }
    }
    .hero_button{
        display: flex;
        justify-content: center;
        a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 8px 36px;
            border-radius: 8px;
            background-color: $buttonColor;
            color: $cmain;
            text-decoration: none;
        }
    }
}