.some_products_section{
    margin-bottom: 154px;
    ul{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            padding: 0px 33px;
            h2{
                font-size: 24px;
                font-weight: 400;
            }
            p{
                font-size: 15px;
                margin: 24px 0;
            }
            a{
                font-size: 12px;
                text-decoration: none;
                color: $textMainColor;
            }
        }
    }
}